<div class="form-container">
    <h2>Seleccione el tipo de test:</h2>
    <form>
      <div *ngFor="let test of tests" class="form-check">
        <input class="form-check-input" type="radio" name="testOptions" id="test{{ test.id_test }}" (change)="onSelectTest(test.id_test)">
        <label class="form-check-label" for="test{{ test.id_test }}">
          {{ test.nombre }} ---> {{ test.descripcion }} 
        </label>
      </div>
    </form>
    <div *ngIf="selectedTestId !== null">
      <h3>Preguntas del Test Seleccionado:</h3>
      <ul>
        <div *ngFor="let pregunta of preguntas">
          <h5>{{pregunta.interrogante }}</h5>
          <div *ngFor="let opcion of opciones" class="form-check">
            <input class="form-check-input" type="radio" name="opcion{{ pregunta }}" id="opcion{{ pregunta }}{{ opcion }}">
            <label class="form-check-label" for="opcion{{ pregunta }}{{ opcion }}">
              {{ opcion.nombre }}
            </label>
          </div>
        </div>
      </ul>
    </div>
  </div>
  