<nav class="navbar bg-body-tertiary">
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center">Formulario de Registro del Paciente</h1>
        <form [formGroup]="pacienteForm">
          <div class="row mb-3">
            <label for="inputNombres" class="col-sm-2 col-form-label">Nombres:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputNombres" placeholder="Consigne los Nombres"
                formControlName="nombres">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputApellidos" class="col-sm-2 col-form-label">Apellidos:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputApellidos" placeholder="Consigne los Apellidos"
                formControlName="apellidos">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-6">
              <div class="form-group row">
                <label for="id_genero" class="form-label col-sm-3">Género:</label>
                <div class="col-sm-9">
                  <select class="form-control" id="id_genero" formControlName="id_genero" required
                    title="Seleccione su Género">
                    <option value="" disabled selected>Seleccione el Género</option>
                    <option *ngFor="let genero of generos" [value]="genero.id_genero">{{ genero.nombre }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label for="inputDocIdentidad" class="form-label col-sm-3">Documento de Identidad:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputDocIdentidad"
                    placeholder="Consigne el Documento de Identidad" formControlName="doc_identidad">
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputFNac" class="col-sm-2 col-form-label">Fecha de Nacimiento:</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="inputFNac" placeholder="Consigne la Fecha de Nacimiento"
                formControlName="fec_nacimiento">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputTelefono" class="col-sm-2 col-form-label">Número de Teléfono:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputTelefono" placeholder="Consigne el Número de Teléfono"
                formControlName="num_telefono">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Consigne el Email"
                formControlName="email">
            </div>
          </div>


          <div class="row mb-3">
            <label for="inputDepartamento" class="col-sm-2 col-form-label">Ubigeo:</label>
            <div class="col-sm-3">
              <select id="inputDepartamento" class="form-control" formControlName="id_ubigeo_departamento"
                (change)="onDepartamentoSeleccionado($event)" required title="Seleccione el Departamento">
                <option value="" disabled selected>Seleccione el Departamento</option>
                <option *ngFor="let departamento of departamentos_filtrados" [value]="departamento">
                  {{ departamento }}
                </option>
              </select>
            </div>
            <div class="col-sm-3">
              <select id="inputProvincia" class="form-control" formControlName="id_ubigeo_provincia"
                (change)="onProvinciaSeleccionada($event)" required title="Seleccione la Provincia">
                <option value="" disabled selected>Seleccione la Provincia</option>
                <option *ngFor="let provincia of provincias_filtradas" [value]="provincia">
                  {{ provincia }}
                </option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control" id="inputDistrito" formControlName="id_ubigeo_distrito" required
                title="Seleccione el Distrito">
                <option value="" disabled selected>Seleccione el Distrito</option>
                <option *ngFor="let distrito of distritos_filtrados" [value]="distrito">
                  {{ distrito }}
                </option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="id_carrera" class="col-sm-2 col-form-label">Carrera:</label>
            <div class="col-sm-10">
              <select class="form-control" id="id_carrera" formControlName="id_carrera" required
                title="Seleccione su Carrera">
                <option value="" disabled selected>Seleccione la Carrera</option>
                <option *ngFor="let carrera of carreras" [value]="carrera.id_carrera">{{ carrera.nombre }}</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputContrasenia" class="col-sm-2 col-form-label">Contraseña:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputContrasenia" placeholder="Consigne su contraseña"
                formControlName="contrasenia">
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="pacienteForm.invalid"
            (click)="registrarPaciente()">Registrar</button>
        </form>
      </div><!-- end card-body -->
    </div><!-- end card cabecera -->

  </div><!-- end row -->
</div><!-- end container -->