<h1>Bienvenido Estudiante</h1>
<div class="dashboard-container">
  
    <div class="sidebar">
      <ul>
        <li (click)="showForm('perfil')">Datos Personales</li>
        <li (click)="showForm('realizar-test')">Realizar Test</li>
        <li (click)="showForm('results')">Resultados</li>
        <li (click)="showForm('solicitar-cita')">Solicitar Cita</li>
        <li (click)="showForm('calendario-citas')">Calendario de citas</li>
        <li (click)="showForm('inbox')">Bandeja de Entrada</li>
        <li (click)="showForm('foro')">Foro de discusión</li>
        <li (click)="showForm('talleres')">Talleres</li>
        <li (click)="showForm('recursos')">Recursos</li>
      </ul>

      <div class="back-button">
        <img src="https://th.bing.com/th/id/R.75666ac5f353a3f2a26843bb1aeebda6?rik=IOYaFPnQLvKomw&pid=ImgRaw&r=0" alt="Back">
      </div>
    </div>

    <div class="content">
      <h2 *ngIf="activeForm === 'perfil'">Perfil de Paciente</h2>
      <app-perfil *ngIf="activeForm === 'perfil'"></app-perfil>

      <h2 *ngIf="activeForm === 'realizar-test'">Realizar Test de Ansiedad</h2>
      <app-realizar-test *ngIf="activeForm === 'realizar-test'"></app-realizar-test>

      <app-results *ngIf="activeForm === 'results'"></app-results>

      <h2 *ngIf="activeForm === 'solicitar-cita'">Solicitar Cita</h2>
      <app-solicitar-cita *ngIf="activeForm === 'solicitar-cita'"></app-solicitar-cita>

      <h2 *ngIf="activeForm === 'calendario-citas'">Calendario de Citas</h2>
      <app-calendario-citas *ngIf="activeForm === 'calendario-citas'"></app-calendario-citas>

      <h2 *ngIf="activeForm === 'inbox'">Bandeja de Entrada</h2>
      <app-inbox *ngIf="activeForm === 'inbox'"></app-inbox>

      <h2 *ngIf="activeForm === 'foro'">Foro de Discusión</h2>
      <app-foro *ngIf="activeForm === 'foro'"></app-foro>

      <h2 *ngIf="activeForm === 'talleres'">Talleres</h2>
      <app-talleres *ngIf="activeForm === 'talleres'"></app-talleres>

      <h2 *ngIf="activeForm === 'recursos'">Recursos</h2>
      <app-recursos *ngIf="activeForm === 'recursos'"></app-recursos>
    </div>

  </div>