/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa; /* Celeste pastel muy claro */
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  color: #00796b; /* Celeste oscuro */
  margin: 0;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

p {
  color: #004d40; /* Celeste más oscuro */
  line-height: 1.6;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.mt-5 {
  margin-top: 3rem;
}

.p-3 {
  padding: 1rem;
}

.bg-info {
  background-color: #b2ebf2; /* Celeste claro pastel */
  padding: 20px;
  border-radius: 5px;
}

.bg-info-subtle {
  background-color: #e0f7fa; /* Celeste muy claro pastel */
  padding: 20px;
  border-radius: 5px;
}

.rounded {
  border-radius: 10px;
}

.block {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #e0f7fa; /* Celeste muy claro pastel */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive design */
@media (max-width: 768px) {
  .row {
      display: block;
      margin: 0 -10px;
  }

  .col-md-6 {
      width: 100%;
      padding: 10px 0;
  }

  .col-md-12 {
      width: 100%;
      padding: 10px 0;
  }
}
