<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h1 class="display-4 mt-9 mb-2">Bienvenido a </h1>
        <h1 class="display-4 mt-9 mb-9">Sisvita</h1>
        <p class="lead">Tu plataforma de apoyo psicológico para estudiantes universitarios.</p>
        <p class="lead">Aquí encontrarás recursos para mejorar tu salud mental y bienestar.</p>
        <div class="mt-5">
          <a class="btn btn-primary me-3" routerLink="/login">Iniciar Sesión</a>
          <a class="btn btn-outline-primary" routerLink="/registrar-estudiante">Registrarse</a>
        </div>
      </div>
    </div>
  </div>