.container-fluid {
  padding: 20px;
}

mat-grid-tile {
  background: rgb(30, 139, 175);
}

.mat-grid-tile-content {
  font-size: 17px; /* Tamaño de la letra */
  color: white; /* Color del texto */
  text-align: center; /* Centra el texto horizontalmente */
  display: flex; /* Utiliza flexbox para centrar verticalmente */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}
.mat-grid-list-space {
  margin-bottom: 20px; /* Espacio inferior entre el grid y otros elementos */
}

.filter-container {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.btn {
  margin: 5px 0;
}

.modal.show {
  display: block;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  max-width: 800px;
  margin: 1.75rem auto;
}

.modal-content {
  border-radius: 8px;
  padding: 20px;
}

.modal-header {
  border-bottom: 1px solid #ddd;
}

.modal-body p {
  margin: 5px 0;
}

.modal-footer {
  border-top: 1px solid #ddd;
  text-align: right;
}

h5.modal-title {
  font-size: 18px;
  margin: 0;
}

button.btn-close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  color: #000;
  opacity: 0.5;
}

button.btn-close:hover {
  color: #000;
  opacity: 0.75;
}