<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Información general del usuario</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-justify">- Nombres:</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Apellidos:</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Género:</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Documento de identidad:</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Fecha de nacimiento:</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Número de teléfono:</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Correo electrónico:</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Información específica del usuario</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-justify">- Dirección:</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Condición:</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Carrera:</p>
            </div>
        </div>
    </div>
</body>