<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Información general del usuario</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-justify">- Nombres: {{ paciente?.persona?.nombres }}</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Apellidos: {{ paciente?.persona?.apellidos }}</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Género: {{ paciente?.genero?.nombre }}</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Documento de identidad: {{ paciente?.persona?.doc_identidad }}</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Fecha de nacimiento: {{ paciente?.persona?.fec_nacimiento }}</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Número de teléfono: {{ paciente?.persona?.num_telefono }}</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Correo electrónico: {{ paciente?.usuario?.email }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Información específica del usuario</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-justify">- Departamento: {{ paciente?.ubigeo?.departamento }}</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Provincia: {{ paciente?.ubigeo?.provincia }}</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Distrito: {{ paciente?.ubigeo?.distrito }}</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Condición: {{ paciente?.condicion?.nombre }}</p>
            </div>
            <div class="col-md-12">
                <p class="text-justify">- Carrera: {{ paciente?.carrera?.nombre }}</p>
            </div>
        </div>
    </div>
</body>