<body>
    <div class="container">
  
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Información general del especialista</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <p class="text-justify">- Nombres: {{ especialista?.persona?.nombres }}</p>
        </div>
        <div class="col-md-12">
          <p class="text-justify">- Apellidos: {{ especialista?.persona?.apellidos }}</p>
        </div>
        <div class="col-md-12">
          <p class="text-justify">- Género: {{ especialista?.persona?.genero?.nombre }}</p>
        </div>
        <div class="col-md-12">
          <p class="text-justify">- Documento de identidad: {{ especialista?.persona?.doc_identidad }}</p>
        </div>
        <div class="col-md-12">
          <p class="text-justify">- Fecha de nacimiento: {{ especialista?.persona?.fec_nacimiento }}</p>
        </div>
        <div class="col-md-12">
          <p class="text-justify">- Número de teléfono: {{ especialista?.persona?.num_telefono }}</p>
        </div>
        <div class="col-md-12">
          <p class="text-justify">- Correo electrónico: {{ especialista?.usuario?.email }}</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Información específica del especialista</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <p class="text-justify">- Licencia: {{ especialista?.n_licencia }}</p>
        </div>
        <div class="col-md-12">
          <p class="text-justify">- Especialidad: {{ especialista?.especialidad?.titulo }}</p>
        </div>
        <div class="col-md-12">
            <p class="text-justify">- Especialidad: {{ especialista?.especialidad?.descripcion }}</p>
        </div>
        <div class="col-md-12">
          <p class="text-justify">- Activo: {{ especialista?.activo ? 'Sí' : 'No' }}</p>
        </div>
      </div>
    </div>
  </body>
  